main {
    width: 75%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
h1 {
    text-align: center;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

article {
    width: 50%;
    align-self: center;
    text-align: center;
    border: 2px solid gray;
    padding: 1rem;
    margin: 1rem;;
    box-shadow: 5px 10px #888888;
}
  
img {
    width: 75%;
}
